.photoPreview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  border: 3px solid var(--dark);
  border-radius: 0.5rem;
  transition: transform 0.3s ease-out;
  cursor: pointer;
  background-color: var(--neutral-gray);
  position: relative;
}

.photoPreview:hover {
  transform: scale(1.05);
}

.photoPreview h2 {
  font-size: 1.8rem;
  margin-top: 0.5rem;
}

.photoPreview:hover h2 {
  text-decoration: underline;
}

.image {
  height: 20rem;
  width: 20rem;
  object-fit: none;
  object-position: 50% 70%;
}

.photoPreview.selected {
  border: 5px solid var(--pink);
  box-shadow: 0 4px 12px var(--pink);
  background-color: var(--teal);
}

.charIconContainer {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  /* transform: translate(-50%, -50%); */
  gap: 0.5rem;
  background-color: var(--neutral-gray);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 3px solid var(--dark);
  display: flex;
  justify-content: center;
}
