.photoPreview {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  border: 1px solid black;
  border-radius: 0.5rem;
  transition: transform 0.3s ease-out;
}

.photoPreview:hover {
  transform: scale(1.05);
}

.photoPreview img {
  height: 20rem;
  width: 20rem;
  object-fit: none;
  object-position: 50% 70%;
  /* filter: blur(3px); */
}
