.characterItem {
  display: flex;
  min-height: 4rem;
  min-width: 10rem;
  justify-content: space-around;
  align-items: center;
  background-color: var(--teal);
  cursor: pointer;
}

.characterItem:hover {
  text-decoration: underline;
}

.characterItem img {
  width: 3rem;
  height: 3rem;
}

.characterItem.found {
  background-color: lightcoral;
  opacity: 0.5;
  cursor: not-allowed;
}

.characterItem.found:hover {
  text-decoration: none;
}
