.characterItem {
  display: flex;
  height: 3rem;
  width: 8rem;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  cursor: pointer;
}

.characterItem:hover {
  transform: scale(1.05);
}

.characterItem img {
  width: 2rem;
  height: 2rem;
}

.characterItem.found {
  background-color: lightcoral;
  opacity: 0.5;
  cursor: not-allowed;
}
