.characterSelect {
  position: absolute;
  color: var(--dark);
  transform: translate(20%, -100%);
  border-radius: 0.5rem;
  overflow: hidden;
  border: 3px solid var(--dark);
}

.characterSelect > div:not(:last-child) {
  border-bottom: 2px solid var(--dark);
}
